//! **************************************************************************
// Written by: Map P.20131013 on Fri Apr 08 14:34:47 2016
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "an<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "MemWR" LOCATE = SITE "N7" LEVEL 1;
COMP "an<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "MemDB<0>" LOCATE = SITE "L1" LEVEL 1;
COMP "btn<0>" LOCATE = SITE "B18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "MemDB<1>" LOCATE = SITE "L4" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "D18" LEVEL 1;
COMP "MemDB<2>" LOCATE = SITE "L6" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "btn<2>" LOCATE = SITE "E18" LEVEL 1;
COMP "MemDB<3>" LOCATE = SITE "M4" LEVEL 1;
COMP "btn<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "RamCS" LOCATE = SITE "R6" LEVEL 1;
COMP "MemDB<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "RamLB" LOCATE = SITE "K5" LEVEL 1;
COMP "MemDB<5>" LOCATE = SITE "P1" LEVEL 1;
COMP "MemDB<6>" LOCATE = SITE "P2" LEVEL 1;
COMP "MemDB<7>" LOCATE = SITE "R2" LEVEL 1;
COMP "MemDB<8>" LOCATE = SITE "L3" LEVEL 1;
COMP "MemDB<9>" LOCATE = SITE "L5" LEVEL 1;
COMP "RamUB" LOCATE = SITE "K4" LEVEL 1;
COMP "MemDB<10>" LOCATE = SITE "M3" LEVEL 1;
COMP "MemDB<11>" LOCATE = SITE "M6" LEVEL 1;
COMP "MemDB<12>" LOCATE = SITE "L2" LEVEL 1;
COMP "MemDB<13>" LOCATE = SITE "N4" LEVEL 1;
COMP "MemDB<14>" LOCATE = SITE "R3" LEVEL 1;
COMP "MemDB<15>" LOCATE = SITE "T1" LEVEL 1;
COMP "MemAdr<0>" LOCATE = SITE "J1" LEVEL 1;
COMP "MemAdr<1>" LOCATE = SITE "J2" LEVEL 1;
COMP "MemAdr<10>" LOCATE = SITE "G6" LEVEL 1;
COMP "MemAdr<2>" LOCATE = SITE "H4" LEVEL 1;
COMP "MemAdr<11>" LOCATE = SITE "G5" LEVEL 1;
COMP "MemAdr<3>" LOCATE = SITE "H1" LEVEL 1;
COMP "MemAdr<20>" LOCATE = SITE "K3" LEVEL 1;
COMP "MemAdr<12>" LOCATE = SITE "G4" LEVEL 1;
COMP "MemAdr<4>" LOCATE = SITE "H2" LEVEL 1;
COMP "MemAdr<21>" LOCATE = SITE "D1" LEVEL 1;
COMP "MemAdr<13>" LOCATE = SITE "F2" LEVEL 1;
COMP "MemAdr<5>" LOCATE = SITE "J5" LEVEL 1;
COMP "MemAdr<22>" LOCATE = SITE "K6" LEVEL 1;
COMP "MemAdr<14>" LOCATE = SITE "E1" LEVEL 1;
COMP "RamADV" LOCATE = SITE "J4" LEVEL 1;
COMP "MemOE" LOCATE = SITE "T2" LEVEL 1;
COMP "MemAdr<6>" LOCATE = SITE "H3" LEVEL 1;
COMP "MemAdr<15>" LOCATE = SITE "M5" LEVEL 1;
COMP "audioOut" LOCATE = SITE "B4" LEVEL 1;
COMP "MemAdr<7>" LOCATE = SITE "H6" LEVEL 1;
COMP "MemAdr<16>" LOCATE = SITE "E2" LEVEL 1;
COMP "MemAdr<8>" LOCATE = SITE "F1" LEVEL 1;
COMP "MemAdr<17>" LOCATE = SITE "C2" LEVEL 1;
COMP "MemAdr<9>" LOCATE = SITE "G3" LEVEL 1;
COMP "MemAdr<18>" LOCATE = SITE "C1" LEVEL 1;
COMP "MemAdr<19>" LOCATE = SITE "D2" LEVEL 1;
COMP "RamCLK" LOCATE = SITE "H5" LEVEL 1;
COMP "RamWait" LOCATE = SITE "F5" LEVEL 1;
COMP "RamCRE" LOCATE = SITE "P7" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

